.about {
  font-size: 14pt;
}

article {
  padding: 15px;
  margin: 30px;
  border-radius: 20px;
  border: 5px solid forestgreen;
  background-color: azure;
}

button {
  background-color: lightgreen;
  font-weight: 100;
}

button:hover {
  background-color: lightseagreen;
}

body {
  background-color: whitesmoke;
}
.price {
  font-size: 12;
  font-weight: bold;
}

s {
  font-weight: lighter;
}
